<sw-container>
    <table v-if="credentials.length > 0">
        <thead>
        <tr>
            <td colspan="3"><h2>{{ $tc('reply-webauthn.credentials-table.title') }}</h2></td>
        </tr>
        <tr>
            <td>{{ $tc('reply-webauthn.credentials-table.name') }}</td>
            <td>{{ $tc('reply-webauthn.credentials-table.registered-at') }}</td>
            <td>{{ $tc('reply-webauthn.credentials-table.action') }}</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="credential in credentials">
            <td>{{ credential.name }}</td>
            <td>{{ credential.createdAt | date({hour: '2-digit', minute: '2-digit'}) }}</td>
            <td>
                <sw-button
                    variant="danger"
                    @click="deleteCredential(credential.id)">
                    {{ $tc('reply-webauthn.credentials-table.deleteButton') }}
                </sw-button>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>{{ $tc('reply-webauthn.credentials-create.title') }}</h2>
    <sw-text-field
        v-model="credentialName"
        required
        name="credential-name"
        :placeholder="$tc('reply-webauthn.credentialPlaceholder')">
    </sw-text-field>

    <sw-button @click="registerCredential">
        {{ $tc('reply-webauthn.buttonRegisterCredential') }}
    </sw-button>
</sw-container>
